//@import "~bootstrap/scss/bootstrap";

body{
    font-family: Arial, Helvetica, sans-serif;
    scroll-behavior: smooth !important;
}
.btno-primary{
    background-color: #346AD7;
    color: white;
    font-weight: 600;
    padding: 12px 70px;;
    border-radius: 16px;
    border: none;
}

.btno-primary:hover{
    background-color: #5e56c6;
    color: white;
    font-weight: 600;
    padding: 12px 70px;;
    border-radius: 16px;
}

.btno-secondary{
    border: 3px solid #346AD7 !important;
    color: #346AD7;
    font-weight: 600;
    padding: 9px 67px;
    border-radius: 16px;
    border: none;
}

.btno-secondary:hover{
    border: 3px solid #5e56c6!important;
    background-color: #5e56c6;
    color: white;
    font-weight: 600;
    padding: 9px 67px;
    border-radius: 16px;
}